Question 1

In [4]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

#Execution
b()
b()
b()

print(a)

6

The value 6 is displayed as the output. This occured as a result of the b() function been called 3 times, and every time it updates the global variable a by calling the c() function. The C() function adds 2 to the current value of a and this will return the recent updated value.

Question 2

In [11]:
def fileLength(name):
    try:
        infile = open(name, 'r')
        content = infile.read()
        infile.close()
        length = len(content)
        return length
    except FileNotFoundError:
        print("File", name, "not found, check directory.")
    except PermissionError:
        print("Permission denied: Unable to read the file", name)

In [12]:
fileLength('midterm.py')
fileLength('idterm.py')

File midterm.py not found, check directory.
File idterm.py not found, check directory.

In [ ]:
Question 3

In [13]:
class Marsupial():
    def __init__(self):
        self.content = []
    
    def put_in_pouch(self,input:str):
        self.content.append(input)
    
    def pouch_contents(self):
        print(self.content)

class kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    def jump(self, dx, dy):
        self.x +=dx
        self.y +=dy
    
    def __str__(self):
        return f"I am a kangaroo located at coordinates ({self.x}, {self.y})"

In [16]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [17]:
k = kangaroo(0,0)
print(k)

I am a kangaroo located at coordinates (0, 0)

In [18]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [19]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates (3, 0)

Question 4

In [20]:
def collatz(x):
    print(x)
    if x == 1:
        return
    if x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [22]:
collatz(1)

1

In [23]:
collatz(10)

10
5
16
8
4
2
1

Question 5

In [24]:
def binary(n):
    if n == 0:
        return 0
    else:
        return (n % 2 + 10 * binary(int(n // 2)))

In [25]:
binary(0)

0

In [26]:
binary(1)

1

In [27]:
binary(3)

11

In [28]:
binary(9)

1001

Question 8

In [29]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     -------------------------------------- 41.2/41.2 kB 998.2 kB/s eta 0:00:00
Requirement already satisfied: ipython in c:\users\13437\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.18-cp310-cp310-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 14.1 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\13437\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting prettytable
  Downloading prettytable-3.8.0-py3-none-any.whl (27 kB)
Requirement already satisfied: ipython-genutils in c:\users\13437\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\13437\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\13437\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: backcall in c:\users\13437\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\13437\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\13437\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: traitlets>=5 in c:\users\13437\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: decorator in c:\users\13437\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\13437\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: stack-data in c:\users\13437\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\13437\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\13437\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\users\13437\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: wcwidth in c:\users\13437\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\13437\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\13437\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\13437\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\13437\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.8.0 sqlalchemy-2.0.18 sqlparse-0.4.4

In [45]:
import sqlite3
#create in-memory SQLite database and establish connection
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

#create weather table
cursor.execute("CREATE TABLE weather (City TEXT, Country TEXT, Season TEXT, Temperature FLOAT, Rainfall FLOAT)")

#Insert data into weather table
data = [
    ('Mumbai','India','Winter',24.8,5.9),
    ('Mumbai','India','Spring',28.4,16.2),
    ('Mumbai','India','Summer',27.9,1549.4),
    ('Mumbai','India','Fall',27.6,346.0),
    ('London','United Kingdom','Winter',4.2,207.7),
    ('London','United Kingdom','Spring',8.3,169.6),
    ('London','United Kingdom','Summer',15.7,157.0),
    ('London','United Kingdom','Fall',10.4,218.5),
    ('Cairo','Egypt','Winter',13.6,16.5),
    ('Cairo','Egypt','Spring',20.7,6.5),
    ('Cairo','Egypt','Summer',27.7,0.1),
    ('Cairo','Egypt','Fall',22.2,4.5)
]
cursor.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)

#Commit changes
conn.commit()

In [46]:
#a) Display all the temperature data
cursor.execute('SELECT Temperature FROM weather')
print("Temperature data:")
print(cursor.fetchall())

Temperature data:
[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [47]:
#b) Display all the cities without repetition
cursor.execute('SELECT DISTINCT City FROM weather')
print("\nCities:")
print(cursor.fetchall())

Cities:
[('Mumbai',), ('London',), ('Cairo',)]

In [48]:
#c) Display all the records for india
cursor.execute("SELECT * FROM weather WHERE Country = 'India'")
print("\nRecords for India:")
print(cursor.fetchall())

Records for India:
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [49]:
#d) Display all the fall records
cursor.execute("SELECT * FROM weather WHERE Season = 'Fall'")
print("\nFall records")
print(cursor.fetchall())

Fall records
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [50]:
#e) Display the city, country and season for which the average rainfall is between 200 and 400 millimeters
cursor.execute("SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400")
print("\nCity, country, and season with average rainfall between 200 and 400 millimeters:")
print(cursor.fetchall())

City, country, and season with average rainfall between 200 and 400 millimeters:
[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [51]:
#f) Display the city and country for which the average fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute("SELECT City, Country FROM weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
print("\nCity and Country with average Fall temperature above 20 degress, in increasing temperature order:")
print(cursor.fetchall())

City and Country with average Fall temperature above 20 degress, in increasing temperature order:
[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [52]:
#g) Display the total annual rainfall for cairo
cursor.execute("SELECT SUM(Rainfall) FROM weather WHERE City = 'Cairo'")
total_rainfall = cursor.fetchone()[0]
print("\nTotal annual rainfall for Cairo:", total_rainfall)

Total annual rainfall for Cairo: 27.6

In [53]:
#h) Display the total rainfall for each season
cursor.execute("SELECT Season, SUM(Rainfall) FROM weather GROUP BY Season")
print("\nTotal rainfall for each season:")
print(cursor.fetchall())

Total rainfall for each season:
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9

In [54]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [56]:
a = [word.upper() for word in words]
b = [word.lower() for word in words]
c = [len(word) for word in words]
d = [[word.upper(), word.lower(), len(word)] for word in words]
e = [word for word in words if len(word) >=4]

#print the generated list
print(a)
print(b)
print(c)
print(d)
print(e)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']